.paginator {
    margin-left: 25px;
    margin-bottom: 25px;

    width: auto;

    display: flex;
    align-items: center;
}

.selectedPage {
    font-weight: bold;
    border: 1px solid #66ff00;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ff00de, 0 0 20px #ff00de, 0 0 40px #ff00de, 0 0 80px #ff00de,
        0 0 90px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

.number span {
    width: 70px;
    height: 68px;

    display: inline-block;

    text-align: center;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 1);
}

.number span:hover,
.paginator button:hover {
    box-shadow: 0 0 15px #66ff00;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ff00de, 0 0 20px #ff00de, 0 0 40px #ff00de, 0 0 80px #ff00de,
        0 0 90px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

.paginator button {
    margin: 0;
    padding: 0;

    width: 90px;
    height: 70px;

    font-size: 20px;
}
