.posts_form {
  display: flex;
  flex-direction: column;
  height: 230px;
}

.posts {
  width: 100%;
  padding: 20px;
  padding-top: 0;
}

.posts_item {
  white-space: pre-wrap;
}

.button_block {
  display: flex;
/* justify-content: space-between; */
}
.posts_textarea {
  padding: 10px;
  margin: 0;
  height: 150px;
  min-width: 600px;
  border: none;
  outline: none;
  border-bottom: 2px solid hsl(211, 100%, 50%);
  background-color: black;
  color: white;
  font-size: 20px;
  box-sizing: border-box;
}

.posts_button {
  width: 180px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #c0c0c0;
  border: 1px solid rgb(59, 59, 59);
  color: rgb(59, 59, 59);
}

.button_size {
  min-width: 120px;
  height: 50px;
  margin-bottom: 0;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .postsBlock1 textarea {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .postsBlock {
    margin: 0;
    padding: 0;
  }
}
