.postsBlock {
    margin: 0 auto;
    margin-top: 60px;
    width: 100%;

    margin-left: 20px;
}

.postsBlock h3 {
    text-shadow: 0 0 5px #ffffff; 
    text-transform: uppercase;
}

.posts {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    
    list-style: none;
}

.postsBlock1 {
    width: 420px;
}

.postsBlock2 {
    width: 100px;
}

textarea {
    width: 100%;
    height: 80px;
}

button {
    width: 100%;
    height: 40px;
}



