.header {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: end;

  position: relative;

  grid-area: h;

  /* background-color: #0000AA; */
  border: 1px solid #fff;
  /* box-shadow: 0 0 15px #fff; */
}

.avatar {
  margin-right: 10px;
}

.loginBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loginBlock button {
  margin-top: 0;
  margin-left: 10px;
  width: 170px;
  height: 40px;
}

.imgLogo {
  width: 70px;
  height: 50px;
  color: #faebd7;
  /* text-shadow: 0 0 5px #ffffff, 0 0 10px #ff00de, 0 0 20px #ff00de, 0 0 40px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de,
    0 0 100px #ff00de, 0 0 150px #ff00de;
  box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #00ff00, 0 0 80px #00ff00, 0 0 90px #00ff00,
  0 0 100px #00ff00, 0 0 150px #00ff00; */
  /* border: 2px solid red; */
}

.imgLogo:hover {
  /* box-shadow: 0 0 5px #ffffff, 0 0 10px #ff00de, 0 0 20px #ff00de,
    0 0 40px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 100px #ff00de,
    0 0 150px #ff00de; */
}

.mobileMenu {
  display: none;
}

@media screen and (max-width: 1880px) {
}

@media screen and (max-width: 1230px) {
}

@media screen and (max-width: 990px) {
}

@media screen and (max-width: 670px) {
  .header {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    width: 100%;
    line-height: 0;
    flex-direction: column;
    border: none;
    box-shadow: none;
  }

  .imgLogo {
    display: none;
  }
}

@media screen and (max-width: 320px) {
}
