.profile {
  padding: 30px;
  margin-bottom: 60px;
  color: white;
  display: flex;
  align-items: start;

  border-bottom: 2px solid rgba(225, 225, 225, 0.4);
}

.profile_info {
  display: flex;
  flex-direction: column;
}

.info_name {
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #00a0a0;
}

.contact {
    word-wrap: break-word
}

.avatar {
  width: 250px;
  height: 250px;
}
.avatar img {
    height: 100%;
    width: auto;
}
.button_block {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.button_block_dialogs {
  margin-bottom: 10px;
}

.profile_info_button {
  height: 50px;
}
/* .background {
  margin-left: 30px;
  padding-top: 30px;
  display: flex;
}

.profileData {
  margin-left: 50px;
  margin-top: -10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userName {
  font-size: 30px;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff,
    0 0 40px #ffffff, 0 0 80px #ffffff, 0 0 90px #ffffff, 0 0 100px #ffffff,
    0 0 150px #ffffff;
}

.userAvatar {
  margin: 0;
  padding: 0;
  max-width: 180px;
  display: flex;
  flex-direction: column;
}

.userAvatar img {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 180px;
  box-shadow: 0 0 15px #ff00de;
}

.listInfo {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.listInfo b {
  color: #66ff00;
}

.profileInfoContacts {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  display: flex;
  list-style: none;
}

.profileInfoContact {
  width: 30px;
}

.background button {
  width: 100%;
}

.background label {
  margin-top: 10px;
  margin-bottom: 5px;

  position: relative;

  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  border: 2px solid #66ff00;
  box-shadow: 0 0 15px #66ff00;
}

.userAvatarAdd {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
}

.form {
  margin-top: -12px;
  display: flex;

  justify-content: space-between;
  margin-left: 50px;
}

.form button {
  width: 100px;
}

.listInfo textarea {
  margin-top: 10px;
  width: 250px;
}

.form .userName input {
  width: 250px;
  height: 25px;
}

.form .userContact {
}

.form .profileInfoContacts {
  margin: 0;
  padding: 0;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
} */

/*.userName {
 font-size: 30px;
 text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff, 0 0 90px #ffffff,
   0 0 100px #ffffff, 0 0 150px #ffffff;

}

.userAvatar img {
 width: 180px;
 box-shadow: 0 0 15px #ff00de;
}

.userInfo {
  margin-left: 30px;

}

.listInfo {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  list-style: none;

}

.profileInfoContacts {
  margin: 0;
  padding: 0;
  margin-right: 40px;

  width: auto;

  display: flex;
  flex-direction: column;
  list-style: none;

}

.profileInfoContacts img {

  width: 40px;
}

.profileInfoContacts img:hover {
  width: 60px;
  margin-top: -10px;
  margin-left: -10px;

  margin-right: -20px;
  box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff, 0 0 90px #ffffff,
    0 0 100px #ffffff, 0 0 150px #ffffff;
  border-radius: 15px;
}

/* .profileInfoContacts li {
   width: 60px;
  border: 2px solid red;
  height: 60px;
}

.userContact {
   position: absolute;
  right: 0;

}

@media screen and (max-width: 670px) {
  .background {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .userContact {
    margin-top: 15px;
    position: relative;
    border: 2px solid red;
  }

  .profileInfoContacts {
    margin-right: 0;
    flex-direction: row;
  }

  .profileInfoContacts li {
    height: auto;
  }
} */
/*

@media screen and (max-width: 1880px) {

}

@media screen and (max-width: 1230px) {

}

@media screen and (max-width: 990px) {

}

@media screen and (max-width: 670px) {

}

@media screen and (max-width: 320px) {

}
 */
