.item {
    padding-right: 30px;
    padding-bottom: 20px;

    display: flex;
    
}

.item img {
    width: 80px;
    height: 80px;

    margin-right: 20px;

    border-radius: 50%;
    border: 2px solid #66ff00;
    box-shadow: 0 0 15px #66ff00;
}

.itemPost {
    display: flex;
    align-items: center;
}

.itemLike {
    margin-top: 10px;

    display: flex;
    flex-direction: column;

    font-size: 15px;
}

.like {
    margin-top: 10px;
    margin-left: 13px;
}