.app-wrapper {
  margin: 0 auto;
  display: grid;
  max-width: 1500px;
  height: 100vh;

  grid-template-areas:
    "n h"
    "n c";

  grid-template-rows: 90px 1fr;
  grid-template-columns: 2.5fr 10fr;

  background-color: #0000AA;
  border-top: 5px double #96daff;
  border-left: 5px double #96daff;
  border-right: 5px double #96daff;
}

.app-wrapper-content {
  grid-area: c;
  overflow-y: auto;
}

.app-wrapper-content::-webkit-scrollbar {
  width: 4px;
}

.app-wrapper-content::-webkit-scrollbar-track {
  background: var(--green--light-green-second);
}

.app-wrapper-content::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 2px;
}

