.app-wrapper {
  margin: 0 auto;
  display: grid;
  max-width: 1400px;

  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: c;

  margin-top: 15px;
}

