@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");
body {
  margin: 0;
  font-family: -apple-system, "Quantico", sans-serif, "Source Code Pro", BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-size: 20px;
  word-spacing: 3px;

  background: 0 0 url("https://i.ytimg.com/vi/JV_-FIzk-kc/maxresdefault.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: "Quantico", sans-serif, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

textarea {
  background-color: #000;
  border-color: #66ff00;
  box-shadow: 0 0 15px #66ff00;
  color: #fff;
  font-family: inherit;
}

button {
  margin-top: 5px;

  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: inherit;

  background-color: #000;
  border-color: #66ff00;
  box-shadow: 0 0 15px #66ff00;
}
