@font-face {
  font-family: 'IBMVGA8';
  src: local('Web437_IBM_VGA_8x14'), url('../src/assets/font/Web437_IBM_VGA_9x14.woff') format('woff');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: no-repeat url('assets/image/background-moon.jpeg') black fixed;
  background-size: cover; */
  font-family: IBMVGA8 ,monospace;
  background-color: black;
  color: white;
  font-size: 20px;
  word-spacing: 3px;
}

code {
  font-family: source-code-pro, IBMVGA8, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea {
  background-color: #000;
  border-color: white;
  /* box-shadow: 0 0 15px white; */
  color: #fff;
  /* font-family: inherit; */
  font-family: IBMVGA8, monospace;
  padding: 7px;
}

button {
  margin-top: 5px;

  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-family: inherit;

  background-color: #bdbebd;
  border-color: black;
  /* box-shadow: 0 0 15px #fff; */
}

